/* Fonts by google */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

/* Variables */
:root{
    --darkGray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --veryDarkGray: hsl(0, 0%, 27%);

    --fontFamily: 'League Spartan', sans-serif;
}

/* My settings */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*{
    margin: 0;
    bottom: 0;
}

body{
    font-family: var(--fontFamily);
    font-size: 1.5rem;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

/* Genrals of HTML*/
.attribution { font-size: 1.1rem; text-align: center;  font-family: var(--fontFamily); margin-top: 3rem;}
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none; padding-bottom: 1.5rem;}

/* Generals */
/* Start header styles | Mobile desgin */
header{
    width: 100%;
    max-width: 50rem;
    position: absolute;
    height: 36rem;

    top: 0;
    left: 0;
}

.background{
    max-width: 50rem;
    
}

.background > img{
    /* background-image: url(../../public/imgs/mobile-image-hero-1.jpg); */
    width: 100%;
    height: 36rem;

    /* background-position: center; */
    object-fit: cover;    
}

.background-desktop{
    display: none;
}

header .menu__cont{
    display: flex;
    width: 100%;
    height: 30.4rem;

    position: absolute;
    top: 0;
    left: 0;
}

header .menu__button{
    height: 5.6rem;

    display: flex;
    justify-content: end;
    margin-top: 30.4rem;
}

.menu__cont .menu__hamburguer{
    margin-left: 2.4rem;
}

.menu__cont .menu__logo{
    margin-right: 15.5rem;
    margin-left: 11.1rem;
}

.menu__cont .menu__hamburguer,
.menu__cont .menu__logo{
    margin-top: 4.8rem;
    width: 100%;
}

/* Buttons */
header .menu__button button{
    background: none;
    border: none;
    height: 5.6rem;
    width: 5.6rem;
    background-color: var(--black);
}


/* Start Main styles | Mobile desgin */
main{
    width: 100%;
    max-width: 50rem;
    height: 39.5rem;

    /* display: block; */
}

main .main__text {
    max-width: 50rem;
    height: 27.5rem;

    padding-top: 4.3rem;
    padding-left: 3.3rem;
    padding-right: 3.2rem;
    padding-bottom: 7.7rem;
}

.main__text .main__title{
    
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
}

.main__text .main__p{
    font-size: 1.5rem;
    color: var(--darkGray);
    font-weight: 500;

    margin-top: 2.5rem;
    margin-bottom: 4.6rem;
}

.main__text .main__link svg{
    fill: var(--black);
    transition: all 0.4s;
}

.main__text .main__link{
    text-decoration: none;
    color: var(--black);
    font-size: 1.3rem;
    letter-spacing: 1.1rem;
    text-transform: uppercase;

    transition: all 0.4s;
}

.main__text .main__link svg:hover{
    fill: var(--darkGray);
}

.main__text .main__link:hover{
    color: var(--darkGray);
}

/* Sarts section about | Mobile First */

.section__cont{
    max-width: 50rem;
    width: 100%;
}

.section__cont .section__background{
    width: 100%;
    max-width: 50rem;
    height: 23.9rem;

    background: url(../../public/imgs/image-about-dark.jpg);
}

.section__cont .section__background2{
    width: 100%;
    max-width: 50rem;
    height: 23.9rem;

    background: url(../../public/imgs/image-about-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.section__cont .section__text{
    width: 100%;
    height: 30.4rem;
}

.section__cont .section__text h2{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    padding-top: 5.4rem;
    padding-left: 3.2rem;
}

.section__cont .section__text p{
    font-size: 1.4rem;
    color: var(--darkGray);

    line-height: 1.8rem;
    font-weight: 500;

    padding-left: 3.2rem;
    padding-right: 3.8rem;

    padding-top: 2.7rem;
}

/* Start styles for tablets */
@media (min-width: 500px) {
    /* Header styles | Tablet design */
    header{
        width: 100%;
        max-width: 84.1rem;
        height: 36rem;
    }

    .background{
        display: none;
    }

    .background-desktop{
        display: block;
    }

    .background-desktop > img{
        /* width: 100%; */
        /* background-image: url(../../public/imgs/desktop-image-hero-1.jpg); */
        width: 100%;
        max-width: 84.1rem;
        height: 36rem;
        object-fit: cover;
    }

    .menu__cont .menu__hamburguer img
    {
        width: 3rem;
        height: 2rem;
    }

    .menu__cont .menu__logo{
        margin-right: 20rem;
        margin-top: 5rem;
    }

    .menu__cont .menu__logo img{
        width: 7rem;
        height: 1.5rem;
    }

    header .menu__button{
        max-width: 84.1rem;
    }

    /* Main styles - information on our services | Tablet design */
    main{
        max-width: 84.1rem;
    }

    main .main__text{
        max-width: 90rem;
    }

    .main__text .main__title{
        font-size: 3rem;
    }

    .main__text .main__p{
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .main__text .main__link{
        font-size: 1.8rem;
    }

    /* Section about styles | Tablet design */
    .section__cont{
        max-width: 84.1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* width: 100%; */
    }

    .section__cont .section__text{
        grid-column: 1/3;
    }

    .section__cont .section__background2{
        grid-column: 2/3;
        grid-row: 1/3;
    }


    .section__cont .section__background,
    .section__cont .section__background2{
        max-width: 45rem;
    }

    .section__cont .section__text h2{
        font-size: 2rem;
        letter-spacing: 1.2rem;
    }

    .section__cont .section__text p{
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    /* Footer */
    .attribution { 
        font-size: 1.5rem;
    }
}

/* Start styles for desktop */
@media (min-width: 900px) {
    .container{
        /* display: flex; */

        grid-template-columns: 84rem 60rem;
        display: grid;
    }

    .background-desktop > img{
        max-width: 84rem;
        width: 100%;
        height: 53.5rem;
    }

    header{
        width: 144rem;
        height: 53.5rem;
    }

    main{
        width: 100%;
        max-width: 60rem;
    }

    header .menu__button{
        display: none;
    }
}

